{% extends "layout.html" %}
{% block title %}Créer un cours{% endblock %}
{% block content %}

<div class="container mt-5 px-3">
    <h2 class="mb-4 text-center">Créer un cours et l'assigner</h2>

    <form method="POST">
        <div class="mb-3">
            <label class="form-label">Nom du cours :</label>
            <input type="text" name="nom" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Volume Horaire Total (VHT) :</label>
            <input type="number" name="volume_horaire" class="form-control" min="2" max="50" step="2" required>
        </div>


        <div class="mb-3">
            <label class="form-label">Coefficient :</label>
            <input type="number" step="1" name="coefficient" class="form-control" min="1" max="10" required>
        </div>


        <div class="mb-3">
            <label class="form-label">Nombre de crédits :</label>
            <input type="number" name="credits" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Assigner à un enseignant :</label>
            <select name="enseignant_id" class="form-select" required>
                {% for enseignant in enseignants %}
                    <option value="{{ enseignant.id }}">{{ enseignant.nom }} ({{ enseignant.email }})</option>
                {% endfor %}
            </select>
        </div>

        <div class="d-grid">
            <button type="submit" class="btn btn-success btn-lg w-100 shadow">Créer et assigner</button>
        </div>
    </form>
</div>

{% endblock %}
