{% extends "layout.html" %}
{% block title %}Accueil{% endblock %}
{% block content %}

<div class="container mt-5 px-3 text-center">
    <h1 class="mb-4">Bienvenue dans l'application Cahier de Texte</h1>
    <p class="lead mb-4">
        Cette application permet de gérer facilement les présences, les séances, les validations pédagogiques
        et les assignations de cours pour les enseignants, responsables et chefs de filière.
    </p>

    <div class="d-grid gap-3 col-md-6 col-12 mx-auto">
        <a href="{{ url_for('auth.login') }}" class="btn btn-primary btn-lg shadow w-100">
            Commencer maintenant
        </a>

        <a href="{{ url_for('main.about') }}" class="btn btn-a-propos btn-lg shadow w-100">
            ℹ️ À propos de l'application
        </a>
    </div>

</div>

{% endblock %}
